/testProgram/nbproject/private/
/week5Lab1/build/
/week5Lab2/nbproject/private/
/week4_All_Lab/JavaApplication1/build/
/week4_All_Lab/JavaApplication1/nbproject/private/
/week4_All_Lab/JavaApplication2/build/
/week4_All_Lab/JavaApplication2/nbproject/private/
/week4_All_Lab/JavaApplication3/build/
/week4_All_Lab/JavaApplication3/nbproject/private/
/week6Lab1/nbproject/private/
/week5Lab2/build/
/week6Lab1/build/
/week6Lab2/nbproject/private/
/week6Lab2/build/
/week6Lab3/nbproject/private/
